body{
	background-image: url(../img/coffee.jpg);
	background-position: center;
	background-size: cover;
}

#formulario{
	margin: 15%;
	border-radius: 7px;
	padding: 5%;
	background-color: rgba(229, 232, 81, 0.6);
}

.form-group label{
	color: #ffffff;
}

#datos{
	color:  #ffffff;
	font-weight: 600;
}

#data{
	color:  #ffffff;
	font-weight: 600;
}

.btn-primary{
	margin: 2%;
}